@{
    ViewData["Title"] = "Listagem de Categorias";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-bordered table-hover border-dark">
  <thead>
    <tr>
      <th scope="col">Id da Categoria</th>
      <th scope="col">Nome da Categoria</th>
      <th scope="col">Status da Categoria</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      @*<th scope="row">1</th>*@
      <td>1</td>
      <td>Eletronicos</td>
      <td>1</td>
    </tr>
 
    <tr>
        <td>2</td>
        <td>Comida</td>
        <td>1</td>
    </tr>

  </tbody>
</table>
