@{
    ViewData["Title"] = "Listagem de Categorias";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      @*<th scope="row">1</th>*@
      <td>1</td>
      <td>Eletronicos</td>
      <td>1</td>
    </tr>
 
    <tr>
        <td>2</td>
        <td>Comida</td>
        <td>1</td>
    </tr>

  </tbody>
</table>
