@using ControleEstoque.Domain.Models.DataModel;

@{
    ViewData["Title"] = "Listagem de Marca";
}

@model List<MarcaViewModel>

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-bordered table-hover border-dark">
  <thead>
    <tr>
      <th scope="col">Nome da Marca</th>
      <th scope="col">Status da Marca</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
 
        @{
            foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Status</td>
                    <td>@Html.RouteLink("Visualizar", "ViewMarca", new {Id = item.Id})</td>
                </tr>
                
            }
        }

  </tbody>
</table>
