@{
    ViewData["Title"] = "Listagem de Produtos";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      @*<th scope="row">1</th>*@
      <td>1</td>
      <td>Celular</td>
      <td>9.999</td>
      <td>9</td>
      <td>aaaaaaaaa</td>
    </tr>
 
  </tbody>
</table>
