@{
    ViewData["Title"] = "Listagem de Produtos";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">CategoryId</th>
      <th scope="col">CategoryName</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      @*<th scope="row">1</th>*@
      <td>1</td>
      <td>Celular</td>
      <td>9.999</td>
      <td>9</td>
      <td>1</td>
      <td>Eletronicos</td>
      <td>Um celular eletronico</td>
    </tr>

    <tr> 
        <td>2</td>
        <td>Laranja</td>
        <td>2.50</td>
        <td>5</td>
        <td>2</td>
        <td>Comida</td>
        <td>Uma Laranja Madura</td>
    </tr>

    <tr>
        <td>3</td>
        <td>Caixa de Som</td>
        <td>1.200</td>
        <td>3</td>
        <td>1</td>
        <td>Eletronico</td>
        <td>Uma caixa de som no precinho</td>
    </tr>
 

  </tbody>
</table>
